body {
    margin: 0;
    background: black;
    font-family: 'Courier New', Courier, monospace;
}

header {
    position: fixed;
    height: 50px;
    width: 100%;
    padding: 6px 12px;
    display: flex;
    top:0;
    left: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0px 3px 20px 20px rgba(0, 0, 0, 0.85);
    z-index: 1;
}

.header__left {
    flex: 1
}

.header__right {
}

.menu-btn {
    background-color: transparent;
    border: none;
    outline: white;
    color: white
}

button {
    cursor: pointer;
}